<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hidroponia : Your Handy Monitoring</title>
  </head>

  <body>

  <!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg ">
  <a class="navbar-brand" href="/"><img src="asset/image/{{logo}}" style="max-width: 50px">&nbspHidroponia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Feed
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Author</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Explore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fab fa-google-plus-g"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fab fa-dribbble"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fas fa-user"></i>
        </a>
      </li>

    </ul>
  </div>
</nav>
<!--/.Navbar -->

<br>
<br>


<div class="boxed">
<!--/.Carousel Wrapper-->
<center><h3>Data Sensor</h3></center>
<center><h4><div id="modeaaa"></div></h4></center>
<br><br><br>
<div class="row">
	<center class="col-sm-4">
		<a href="/thermo">
		<div class="chip" style="width: 90%">
		  <img src="asset/image/{{thermo}}" alt="Person" width="96" height="96">
		  <div id="thermoaaa"></div>
		</div>
		</a>
	</center>
	<center class="col-sm-4">
		<a href="/ph">
		<div class="chip"style="width: 90%">
		  <img src="asset/image/{{ph}}" alt="Person" width="96" height="96">
		  <div id="phaaa"></div>
		</div>
		</a>
	</center>
	<center class="col-sm-4">
		<a href="/fert">
		<div class="chip" style="width: 90%">
		  <img src="asset/image/{{pupuk}}" alt="Person" width="96" height="96">
		  <div id="pupukaaa"></div>
		</div>
		</a>
	</center>
</div>
<br><br>

</div>
<br><br>





<!--main-->
<div class="card">

  <!--Card image-->
  <!--Card content-->
  <div class="card-body">

    <!-- Container -->
    <div class="d-block d-md-flex">

      <!-- Column -->
      <div class="p-3 flex-1">

        <h2 class="pb-6 font-weight-bold">Title of the news</h2>
        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
          voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <!--Facebook-->
        <br>
        <br>
        <div class="text-center inside">

            <a class="btn-floating btn-lg" ><i class="fab fa-facebook-f" style="color: green;"></i></a>
            <!--Twitter-->
            <a class="btn-floating btn-lg" ><i class="fab fa-twitter" style="color: green;"></i></a>
            <!--Google +-->
            <a class="btn-floating btn-lg"><i class="fab fa-dribbble" style="color: green;"></i></a>
          </div>

      </div>
      <!-- Column -->

      <!-- Column -->
      <div class="p-6 flex-1">

      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img(120).jpg" alt="Card image cap">

      </div>
      <!-- Column -->

    </div>
    <!-- Container -->

  </div>
</div>

<div style="margin: 20px"></div>
<div style="margin: 20px"></div>

<div class="card">

  <!--Card image-->
  <!--Card content-->
  <div class="card-body">

    <!-- Container -->
    <div class="d-block d-md-flex">

      <!-- Column -->
      <div class="p-6 flex-1">

        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img(120).jpg" alt="Card image cap">

      </div>
      <!-- Column -->

      <!-- Column -->
      <div class="p-3 flex-1">

        <h2 class="pb-3 font-weight-bold">Title of the news</h2>
        <p align="justify">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
          doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
          architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
          aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
          </p>
          <!--Facebook-->
          <br><br>
          <div class="text-center inside">

            <a class="btn-floating btn-lg btn-fb" ><i class="fab fa-facebook-f" style="color: green;"></i></a>
            <!--Twitter-->
            <a class="btn-floating btn-lg btn-tw" ><i class="fab fa-twitter" style="color: green;"></i></a>
            <!--Google +-->
            <a class="btn-floating btn-lg btn-dribbble"><i class="fab fa-dribbble" style="color: green;"></i></a>
          </div>
      </div>
      <!-- Column -->

    </div>
    <!-- Container -->

  </div>
</div>

<div style="margin: 20px"></div>
<div style="margin: 20px"></div>
<div style="margin: 20px"></div>

<!--/footer section-->
<!-- Footer -->
<footer class="page-footer font-small ">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Develop by</h5>

        <ul class="list-unstyled">
          <li>

          </li>
          <li>

          </li>
          <li>
            <h5><a href="#!">GrowIT Team</a></h5>
          </li>
          <li>

          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!"></a>
          </li>
          <li>
            <a href="#!">Teknik Elektro</a>
          </li>
          <li>
            <a href="#!"></a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>


      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!"></a>
          </li>
          <li>
            <a href="#!">Teknik Elektro</a>
          </li>
          <li>
            <a href="#!"></a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      <!-- Grid column

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->




 <!-- All Import Here -->
 <!-- MDBootstap -->
<link rel="stylesheet" href="mdbs.css">
<!-- Bootstrap core CSS -->
<link href="bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="mdb.min.css" rel="stylesheet">
<!-- JQuery -->
<script type="text/javascript" src="jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="mdb.min.js"></script>
<link rel="stylesheet" href="chips.css">

 <!-- end of import -->

<!-- application main script
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.11.0/metricsgraphics.min.js"></script>
    <script>
      function titleCase(string) {
      var sentence = string.toLowerCase().split(" ");
      for(var i = 0; i< sentence.length; i++){
         sentence[i] = sentence[i][0].toUpperCase() + sentence[i].slice(1);
      }
        return sentence;
      }
      function fetch_and_render() {
        d3.json("/datafrontend", function(error,json) {
          if (error) return console.warn(error);
          //data = MG.convert.date(json, "date", "%H:%M:%S");
          data = json
          value = []
          for (var i =  0; i <= data.length- 1; i++) {
            value.push(data[i].value);
          }
          //console.log(value)
          d3.select("#thermoaaa").
            data(data).text(function(data) {return "Temp : "+value[1]+ " °C"});
          d3.select("#phaaa").
            data(data).text(function(data) {return "pH : "+value[0]});
          d3.select("#pupukaaa").
            data(data).text(function(data) {return "AB Mix : "+ value[2]});
            d3.select("#modeaaa").
            data(data).text(function(data) {return "Mode : "+ titleCase(value[3])});
        });
      }
      window.onload = function() {
        // initial call for rendering
        fetch_and_render();

        // updates chart every 5 seconds
        setInterval(function() {
          fetch_and_render();
        }, 5000);
      }
    </script>

    <!-- application styles -->

  </body>

</html>